*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3 ease;
}

body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    text-align: center;
}

.background-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image:url(profoil.img/love.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #b6b6b6;
}

.nav-icons i {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav-center{
    flex: 1;
    text-align: center;
}

.nav-center a {
    margin: 0 20px;
    font-size: 18px;
    text-decoration: none;
    color: #cfcfcf;
    font-weight: 500;
}

.nav-center a:hover {
    color: rgb(103, 194, 182);
}


/* HERO SECTION */
.hero {
    padding: 60px 20px;
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
    color: #4f837f;
    
}

.hero p {
    color: #b6b6b6;
    font-size: 22px;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: #148675;
    color: white;
    padding: 14px 40px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 18px;
}

.btn:hover{
    color: rgb(16, 17, 17);
}

.hero-img {
    width: 100%;
    max-width: 500px;
    margin:25px auto;
    display: block;
}

/* FOOTER */
footer {
    padding: 30px 10px;
    background:linear-gradient(rgb(92, 125, 126), rgb(39, 39, 39));
    margin-top: 40px;
}

.footer-icons i {
    padding: 10px;
    font-size: 22px;
}

.credits a {
    color: #cbd1d0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

